/* sidebar */

.sidebar{
    box-shadow: 1px 0 1px 1px gray;
    width: 260px;
    height: 40rem;
}

.sidebar ul li{
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    padding-bottom: 2rem;
    padding-left: 0.6rem;
    color: #504D4D;


}

.sidebar ul li a{
    text-decoration: none;
    color: #504D4D;
    display:flex;
}

.sidebar ul li a span{
    margin-left: 1rem;
}

.sidebar ul li a:hover{
   font-weight: bold;
   transition: 1ms;
}

.sidebar li .actived{
    background-color:  rgba(35, 112, 200, 0.9);
    padding: 0.6rem;
    border-radius:8px;
    color: white;
    width: 200px;
    margin-left: -8px !important;

}
.sidebar li .actived a{

    color: white;

}

.sidebar ul li img{
    padding-bottom: 6px;
}


#icon-dashboard{
    fill: white;
}

object{
    color: white;
    fill: white;
}
.sidebar .user-capil{
    padding-left: 2.5rem;
    font-size: 20px;
}

.sidebar .user-capil img{
    padding-right: 1rem;
}
.icon-sidebar{
    color: red;
}

use.icon{
    fill: black;
  }

/* end sidebar */

/* utils */
html {
    scroll-behavior: smooth;
}
.actived{
    background-color:  rgba(35, 112, 200, 0.9);
    border-radius:8px;
    color: white;
    margin: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.color-dilayananku{
    background-color: #2370C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.float-right{
    float: right;
}

.float-left{
    float: left;
}

.fixed{
    position:fixed;
}

.w-full{
    width: 100%;
}

/* end */

/* data user */

.data-user{
    background-color:#2370C8;
    border-radius: 6px 6px 0 0;

}

svg#icon-ktp{
    fill:#A9CFF6;
    float: right;
    margin-right: 4px;
}

svg#icon-family{
    fill:#FF6112;
    float: right;
    margin-right: 4px;
}

svg#icon-anak{
    fill:#ED5669;
    float: right;
    margin-right: 4px;
}

svg#icon-perkawinan{
    fill:#FFD34D;
    float: right;
    margin-right: 4px;
}

svg#icon-bayi{
    fill:#ABF146;
    float: right;
    margin-right: 10px;
}

svg#icon-kematian{
    fill:#ED5669;
    float: right;
    margin-right: 10px;
}

svg#icon-kependudukan{
    fill:#ABF146;
    float: right;
    margin-right: 10px;
}

.bg-ektp{
    background-color: #A9CFF6;
}

.bg-kk{
    background-color: #FFF48F;
}

.bg-anak{
    background-color: #F5BDC6;
}

.bg-perkawinan{
    background-color: #FFE8C7;
}

.bg-kelahiran{
    background-color: #D8F9FE;
}

.bg-kematian{
    background-color: #F5BDC6;
}

.bg-kependudukan{
    background-color: #D8F9FE;
}

.more-info{
background-color: #2370C8;
opacity: 60%;
border-radius:0 0 6px 6px;


}

.more-info h5{
    color: white;
    font-size: 12px;
    padding: 4px;
}

/* end */

/* pie chart*/

.pie{
    /* border: 1px #504D4D solid; */
    box-shadow: #8F8686 1px 2px 1px 1px ;
}

.info{
    background-color: #2C64B4;
}

.info h3{
    padding-left: 12px;
}
/* end */

/* aktivitas */

.aktivitas{
    box-shadow: 1px 0 1px 1px gray;
}

.aktivitas a{
    margin-top: 4px;
}

.aktivitas a span{
    color: rgba(80, 77, 77, 0.9);
}

.aktivitas .actived span{
    color: white;
}

.aktivitas a:hover{
    font-weight: bold;
    color: rgba(80, 77, 77, 0.9);
}

/* end  */
